html,body {
   height: 100%;
   margin: 0;
   padding: 0;
/*    overflow: hidden;
*/    background-color: #EEE;
}

div.page {
   min-height: 100%;
   width: 100%;
   padding: 0;
   display: none;
}

h1 {
   border-bottom: 3px solid #004;
   background-color: #67E;
   color: #FFF;
   text-align: center;
   margin-top: 0;
   font-weight: normal;
   height: 10%;
}

div#players {
   height: 90%;
   float: left;
   width: 60%;
   background-color: #EEE;
   text-align: center;
}

div#team {
   height: 90%;
   border-left: 2px solid #004;
   width: 39%;
   float: left;
   background-color: #EEE;
   text-align: center;
}

div#players div.player {
   display: inline-block;
   cursor: pointer;
   width: 40%;
}

div.empty {
   color: #888;
}

h2 {
   font-size: 150%;
   text-align: center;
   margin-bottom: 8px;
}

div.player {
   font-size: 150%;
   border: 1px solid #444;
   text-align: center;
   background-color: #AAA;
   padding: 16px;
   margin: 0;
   width: 90%;
}

div.score-counter-left {
   width: 5%;
   position: absolute;
   top: 20%;
   height: 60%;
   left: 15%;
   border-top: 1px solid #000;
}

div.score-counter-right {
   width: 5%;
   position: absolute;
   top: 20%;
   height: 60%;
   right: 15%;
   border-top: 1px solid #000;
}

input.scorer {
   display: block;
   width: 100%;
   height: 10%;
   border: 1px solid #000;
   border-top: none;
   font-weight: bold;
}

img#tableimg {
   position: absolute;
   top: 20%;
   left: 20%;
   width: 60%;
   height: 60%;
}

div.teambar {
   text-align: center;
   position: absolute;
   width: 70%;
   height: 5%;
}

div.teambar input {
   height: 100%;
}

div#team1bar {
   top: 15%;
   left: 15%;
}

div#team2bar {
   bottom: 15%;
   right: 15%;
}

div.teamplayer {
   height: 100%;
   display: inline-block;
   font-weight: bold;
   width: 25%;
}

div.team-swap {
   width: 10%;
   height: 100%;
   font-weight: bold;
   display: inline-block;
   cursor: pointer;
}

input,select {
   border: 1px solid #888;
}

div#scoresubmit {
   display: none;
   position: absolute;
   top: 20%;
   left: 20%;
   height: 60%;
   width: 60%;
   background: #AAA;
   text-align: center;
}

div#scoresubmit textarea {
   border: 1px solid #888;
   height: 70%;
   width: 100%;
}

input#score {
   width: 100%;
   font-size: 400%;
   border: none;
   height: 25%;
}

#rhino {
   position: absolute;
   bottom: 0;
   right: 0;
}

#teamshuffle {
   position: absolute;
   left: 40%;
   top: 40%;
   width: 20%;
   height: 20%;
   text-align: center;
   font-size: 600%;
   display: table;
   color: white;
   background-color: rgba(0,0,0,0);
}

#teamshuffle div {
   display: table-cell;
   vertical-align: middle;
   cursor: pointer;
}

* {
   -webkit-appearance: none;
}

.t1 {
   background-color: red;
   color: white;
}

.t2 {
   background-color: blue;
   color: white;
}