html,body {
    height: 100%;
    margin: 0;
    padding: 0;
/*    overflow: hidden;
*/    background-color: #040;
}

div.page {
    min-height: 100%;
    padding: 1%;
    display: none;
}

h1 {
    border-radius: 5px;
    background-color: #EEE;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

div#players {
    float: left;
    width: 60%;
    background-color: #EEE;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

div#players div.player {
    display: inline-block;
    margin: 8px;
    cursor: pointer;
}

div#team {
    float: right;
    width: 185px;
    background-color: #EEE;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

div.empty {
    color: #888;
}

h2 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 8px;
}

div.player {
    width: 150px;
    font-size: 150%;
    border: 1px solid #444;
    border-radius: 5px;
    text-align: center;
    background-color: #AAA;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 16px;
}

div.score-counter {
    float: left;
    width: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
}

input.scorer {
    display: block;
}

div#table {
    width: 60%;
    margin: 8px auto;
}

div#pitch {
    float: left;
    width: 90%;
    margin: 1%;
}

img#tableimg {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

div.teambar {
    margin: 0 auto;
    text-align: center;
}

input.team-swap {
    margin-left: 8%;
    margin-right: 8%;
}