
body {
   padding: 8px;
   cursor: default;
}

h1 {
   border-bottom: 1px solid #888;
   font-weight: normal;
   font-size: 200%;
}

h2 {
   border-bottom: 1px solid #888;
   padding-bottom: 0.25em;
   margin-top: 1em;
   margin-bottom: 1em;
   font-size: 150%;
}

h3 {
   font-size: 130%;
   padding-bottom: 0.5em;
}

h4 {
   font-size: 120%;
   margin-top: 0.25em;
   margin-bottom: 0.25em;
}

h5 {
   font-size: 110%;
}

th {
   font-style: italic;
   padding-bottom: 0.25em;
}

ul li {
   padding: 0.25em 1em;
}

.leaguerow {
   cursor: pointer;
}

.stat {
   font-style: italic;
   color: #C60;
}

.statarea {
    margin-left: 16px;
}

.statbox {
   float: left;
   max-width: 33%;
}

.statrow {
   margin-bottom: 1em;
   border-top: 1px solid #EEE;
   width: 100%;
}

.statitem {
   display: inline-block;
   text-align: center;
   margin-right: 2em;
}

.teamstat {
   cursor: help;
}

.badge {
   margin: 4px 4px;
   padding: 4px 8px;
   border: 1px solid #888;
   cursor: help;
   display: inline-block;
   background-color: #F8F8F8;
}

table#leaguetable {
   border-collapse: collapse;
}

table#leaguetable td,th {
   padding-left: 8px;
   padding-right: 8px;
   border-left: 1px solid #EEE;
}

.form-win {
    color: #080;
    margin-right: 1px;
}

.form-loss {
    color: #800;
    margin-right: 1px;
}

.rainbow {
    color: #FFF;
    font-weight: bold;
    background-image: url('img/rainbow_square.jpg');
}

#summarybar {
    padding: 0;
    margin: 0;
    overflow: auto;
}

.summaryblock {
    float: left;
    margin-left: 16px;
    text-align: center;
}

.summaryblock h3 {
    display: inline-block;
    font-size: 100%;
}

.timeselect {
    background-color: #EEE;
    display: inline-block;
    cursor: pointer;
    margin: 8px;
    padding: 2px;
}

.selected {
    border: 1px solid #888;
    background-color: #DDD;
}

.dbg {
   border: 1px solid teal;
}