body { background-color: #080;
       text-align: center; }

input {border: 1px solid teal;
       background-color: #FFF;}

select {border: 1px solid teal;
       background-color: #FFF;}

#submit {
    font-size: 24pt;
    
}
